.boton-cotizar {
    position: fixed;

    right: 25px;
    bottom: 25px;

    background-color: #198754;
    color: white;

    padding: 14px 22px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;

    font-weight: bold;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

    z-index: 1000;

    transition: 0.3s;
}

.boton-cotizar i {
    font-size: 24px;
}

.boton-cotizar:hover {
    background-color: #157347;
    color: white;
    transform: translateY(-3px);
}